.body {
  height: 100%;
  background: linear-gradient(
    169.24deg,
    #ff9900 0%,
    #ffc700 41.19%,
    #ff9200 55.67%,
    #ff2e00 82.91%
  );
}
.nav {
  overflow: hidden;
}

.navitems {
  display: flex;
}

.navitem {
  margin-left: 3rem;
  list-style-type: none;
}
.rightHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rightItem {
  width: 50%;
  height: 50%;
}
.button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.headerlogo {
  display: flex;
  margin-left: -6rem;
}
.headerLogoIcon {
  width: 3.5rem;
  height: 3rem;
}
.headerLogoText {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.isConnected {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 0.5rem;
}
.countdown {
  display: flex;
}
.main {
  // display: flex;
  // flex-direction: column;
}
.mainLogo {
  padding-left: 3rem;
  //margin-bottom: 3rem;
  display: flex;
}
.mainLogo .left {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.mainLogo .right {
  font-family: Montserrat;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  -webkit-text-stroke: 2px white;
}
.background {
  // background-image: url(./assets/black-vector.svg);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  background-color: #333333;
}
.motto {
  font-family: Montserrat;
  color: white;
  font-style: normal;
  font-size: 116px;
  .mottoText {
    padding-left: 2rem;
    width: 45%;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  div {
    display: flex;
    justify-content: center;
    width: 50%;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 53px;
      color: #ffffff;
    }
  }

  p {
    width: 50%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
}
.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 53px;
      color: #ffffff;
    }
  }

  p {
    width: 50%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 53px;
      color: #ffffff;
    }
  }

  p {
    width: 50%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
}
